# zato create cluster config
cluster_name=Cluster1
command=create_cluster
broker_host=10.42.0.119
broker_port=6379
odb_db_name=ihiszato
odb_password=zatok!
odb_host=10.42.0.121
odb_port=5432
odb_type=postgresql
odb_user=zato
lb_host=10.42.0.130
lb_port=11223
lb_agent_port=20151
store_config=False
tech_account_name=tech
tech_account_password=tech