# zato create server config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.server2.cert.pem
cluster_name=Cluster1
command=create_server
kvdb_host=10.42.0.119
kvdb_port=6379
odb_db_name=ihiszato
odb_host=10.42.0.121
odb_port=5432
odb_type=postgresql
odb_user=zato
odb_password=zatok!
kvdb_password=''
secret_key=3upcMMO3AhOOv79d2di6LTwQ1qRVKODnyQLV4Q1r5jQ=
jwt_secret=81HqDtbqAywKSOumSha3BhWNOdQ26slT6K0YaZeZyPs=
path=/opt/zato/env/qs-1/server
postgresql_schema=
priv_key_path=/opt/zato/ca/zato.server2.key.pem
pub_key_path=/opt/zato/ca/zato.server2.key.pub.pem
server_name=server2
store_config=False