name: DHIS2 Docker 

on:
  push:
    branches:
      - master

concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  buildDhis2Versions:
    strategy:
      matrix: 
        minor_version: ['41.7.0','42.3.1']
        major_version: ['41','42']
        tomcat_version: ['9.0.113','10.1.50']
        
    name: Build DHIS2 version ${{ matrix.major_version }} - ${{ matrix.minor_version }}

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        if: contains( matrix.minor_version, matrix.major_version )
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        if: contains( matrix.minor_version, matrix.major_version )
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: contains( matrix.minor_version, matrix.major_version )
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        if: contains( matrix.minor_version, matrix.major_version )
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./dhis2/dhis2app/Dockerfile
          push: true
          no-cache: true
          build-args: |
            dhis2_major_version=${{ matrix.major_version}}
            dhis2_minor_version=${{ matrix.minor_version}}
            tomcat_version=${{ matrix.tomcat_version }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/dhis2:${{ matrix.minor_version}}-jdk17-t9